<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Taco Cloud Orders</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
	<h1>Your Taco Cloud Orders:</h1>
	<hr/>
	<ul>
		<li th:each="order: ${orders}"> 
			<span th:text="${order.placedAt}">placed at</span>
			<span th:text="${order.deliveryName}">delivery name</span>
			
			<ul>
				<li th:each="taco: ${order.tacos}">
					<span th:text="${taco.name}">taco name</span>
					
					<span th:each="ingredient: ${taco.ingredients}">
						<span th:text="${ingredient.name}" >ingredient name</span>
					</span>
				</li>
			</ul>
		
		</li>
	</ul>
</body>
</html>
